{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row justify-content-center" role="alert">
                <div  {% if message.tags %} class="btn btn-{{ message.tags }} " {% endif %}> {{ message }} </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
