{% extends "./base.html" %}
{% block top %}
    {{ block.super }}
    <div class="container-fluid ">
        {% if messages %}
            {% for message in messages %}
            <div class="row justify-content-center">
                <div class="col col-md-8 alert alert-warning alert-dismissible fade show" role="alert">
                    <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <div class="row justify-content-center">
            <div class="col col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">To-Do-List</h4>
                        <p class="card-text">Upcoming event and To-do-list that you can interact with.</p>
                    </div>
                    <hr/>
                    <div class="row justify-content-center">
                        <div class="col col-lg-4">
                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;" data-toggle="modal" data-target="#modelId">
                                Add new To Do
                            </button>
                        </div>
                    </div>
                    <br/>
                    <div class="list-group list-group-flush" id="myGroup">
                        {% if todolist %}
                            
                            {% for date, item_list in todolist.items %}
                                {% now "Y-m-d" as todays_date %}
                                <a class="btn {% if date|date:'Y-m-d' == todays_date %} btn-success active {% else %} btn-light {% endif %} list-group-item"
                                    data-toggle="collapse" data-parent="#myGroup" href="#content{{ forloop.counter }}" aria-pressed="true"
                                    aria-expanded="false" aria-controls="content{{ forloop.counter }}">
                                    {{ date }} {% if date|date:'Y-m-d' < todays_date %} (Old) {% endif %}
                                </a>
                                <div class="collapse {% if date|date:'Y-m-d' == todays_date %} show {% endif %}" id="content{{ forloop.counter }}">
                                    <div class="list-group-item d-none d-lg-block">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                Event name
                                            </div>
                                            <div class="col-lg-4">
                                                Description
                                            </div>
                                            <div class="col-lg-3">
                                                Event start
                                            </div>
                                            <div class="col-lg-2">
                                                Check
                                            </div>
                                            <div class="col-lg-1">
                                                Del
                                            </div>
                                        </div>
                                    </div>
                                    {% for item in item_list %}
                                    <div class="list-group-item">
                                        <a href="{% url 'todolist:updatetodo' item.pk %}" class="row clickable btn-light" style="text-decoration: none; color: black;">
                                            <div class="col-lg-2 my-auto">
                                                <div style="display: block;
                                                            display: -webkit-box;
                                                            margin: 0 auto;
                                                            line-height: 1.3;
                                                            -webkit-line-clamp: 2;
                                                            -webkit-box-orient: vertical;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;">
                                                    {{ item.event_name }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4 my-auto">
                                                <div style="display: block;
                                                            display: -webkit-box;
                                                            margin: 0 auto;
                                                            line-height: 1.2;
                                                            -webkit-line-clamp: 2;
                                                            -webkit-box-orient: vertical;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;">
                                                    {{ item.description }}
                                                </div>
                                                
                                            </div>
                                            <div class="col-lg-3 my-auto">
                                                {{ item.start_date|date:'P' }} {# H is  hour, i is minute, P is time with am/pm #}
                                            </div>
                                            <div class="col-lg-2">
                                                <form action="{% url 'todolist:changetodo' item.pk %}" method="POST">
                                                    {% csrf_token %}
                                                        {% if item.participate %}
                                                            <button type="submit" class="btn">
                                                                <i class="fas fa-check"></i>
                                                            </button>
                                                        {% else %}
                                                            <button type="submit" class="btn">
                                                                <i class="fas fa-times"></i>
                                                            </button>
                                                        {% endif %}
                                                </form>
                                            </div>
                                            <div class="col-lg-1">
                                                <form action="{% url 'todolist:deletetodo' item.pk %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="list-group-item text-center">There is nothing here.</p>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add To-Do Event</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <form action="{% url 'todolist:addtodo' %}" class="form-group" method = "post">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{form.as_p}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value = "Add">
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bot %}

    {{ block.super }}
{% endblock %}