{% extends "./base.html" %}
{% block top %}
    {{ block.super }}
    {% if messages %}
        {% for message in messages %}
        <div class="row justify-content-center">
            <div class="col col-md-6 alert alert-warning alert-dismissible fade show" role="alert">
                <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <div class="row justify-content-center">
        <div class="col col-md-6">
            <div class="card text-left">
                <div class="card-body">
                  <h4 class="card-title">Event name: {{ name }}</h4>
                  <p class="card-text">ID: {{ id }}</p>
                  <form action="{% url 'todolist:updatetodo' id%}" class="form-group" method = "post">
                      {% csrf_token %}
                      {{form.as_p}}
                      <a href="{% url 'todolist:index' %}" class="btn btn-secondary">Home</a>
                      <input type="submit" class="btn btn-primary" value = "Save">
                  </form>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}

{% block bot %}

    {{ block.super }}
{% endblock %}