.vertical{
    margin-top:50%;
}

.text_overflow{
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}